/******* Bootstrap Theming ********/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$primary: #194376;
$secondary: #46C6CE;
$light: #F3F6FF;
$dark: #1A1A1A;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "light": $light,
    "dark": $dark,
);

$font-family-sans-serif: 'Open Sans', sans-serif;
$headings: 'Bebas Neue', sans-serif;
$body-color: #757575;

$headings-color: $primary;

$enable-responsive-font-sizes: true;

$enable-rounded: false;

@import "bootstrap/scss/bootstrap";


/********** Template CSS ************/
h1,
h2,
.font-weight-bold {
    font-weight: 800 !important;
}
h1,h2,h3,h4{
    font-family: $headings;
    letter-spacing: 2px;
}
h3,
h4,
.font-weight-medium {
    font-weight: 600 !important;
}

h5,
h6,
.font-weight-normal {
    font-weight: 400 !important;
}

[class^=flaticon-]:before,
[class*=" flaticon-"]:before,
[class^=flaticon-]:after,
[class*=" flaticon-"]:after {
    font-size: inherit;
    margin-left: 0;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 11;
    -webkit-animation: action 1s infinite alternate;
    animation: action 1s infinite alternate;
}

@-webkit-keyframes action {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

@keyframes action {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}
.boton{
    width: 100px;
    height: 50px;
    border: 1px solid $dark;
    background-color: #194376;
    color: white;
}
.btn-producto{
    border: none;
    padding: 10px 20px;
    background-color: transparent;
    color: #194376;
    font-weight: bold;
}
.btn-producto:focus{
    outline: none;
}

.logo{
    width: 120px;
    height: 120px;
    object-fit: contain;
}
.nav-bar::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 70%;
    top: 0;
    left: 0;
    background: $primary;
}

.navbar-light .navbar-nav .nav-link {
    padding: 30px 15px;
    color: #757575;
    font-weight: 600;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: $secondary;
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        padding: 10px 15px;
    }
}

@media (min-width: 992px) {
    #header-carousel,
    .page-header {
        margin-top: -42px;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
}

@media (min-width: 768px) {
    .contact-info {
        position: relative;
        margin-top: -100px !important;
        z-index: 1;
    }
}

.testimonial-carousel .owl-dots {
    margin-top: 30px;
    text-align: center;
}

.testimonial-carousel .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #dddddd;
}

.testimonial-carousel .owl-dot.active {
    background: $secondary;
}

.contact-form .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*Combos mas vendidos*/
#owl-combos .card{
    position: relative;
    padding: 30px 0px;
    margin: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}
#owl-combos .card::before{
    position: absolute;
    content: '';
    left: -35%;
    top: -35%;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 70%;
    background-image: url(../img/icono-circulo.png);
    background-position: center;
    background-size: contain;
    rotate: 45deg;
    opacity: .3;
}

.owl-buttons{
    width: 20%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.owl-prev{
    margin-right: 20px;
}
.owl-prev,.owl-next{
    cursor: pointer;
    transform: border-bottom;
    transition: .3s ease-in;
    border-bottom: 1px solid transparent;
}
.owl-prev:hover,.owl-next:hover{
    border-bottom: 1px solid $body-color;
}

/*Nuestros Productos*/
.card-nosotros{
    box-shadow: 0 0 0 rgba(0,0,0,0);
    transform: box-shadow .5s ease;

}
.card-nosotros:hover{
    box-shadow: 0 8px 12px rgba(0,0,0,.3);
}

/* Slider de Logos*/
.container {
    overflow: hidden;
    .slider {
      animation: slidein 30s linear infinite;
      white-space: nowrap;
      @media (max-width: 760px) {
        .slider{
            animation: slidein 20s liinear infinite;
        }
      }
      .logos {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0 20px;
        img{
            width: 100px;
            height: 100px;
            margin: 0 40px;
            object-fit: contain;
            animation: fade-in 0.5s 
            cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
        }
        @media (max-width: 760px) {
            img{
                margin: 0 20px;
                width: 50px;
                height: 50px;
                object-fit: contain;
                animation: fade-in 0.5s 
                cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
            }
        }
        
      }
    }
  }
  
  @keyframes slidein {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  